<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>bLoginAutomatically</string>
		<key>Title</key>
		<string>Log in automatically</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>bHideMessages</string>
		<key>Title</key>
		<string>Hide instruction messages</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Go to pre-selected Region and Filters</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>listRegion</string>
		<key>Title</key>
		<string>Regions</string>
		<key>Titles</key>
		<array>
			<string>[Choose a region to enable]</string>
			<string>Los Angeles</string>
			<string>New York</string>
			<string>Vancouver</string>
			<string>Toronto</string>
			<string>Chicago - Midwest</string>
			<string>Texas - South Central Region</string>
			<string>Southeast</string>
			<string>Florida</string>
			<string>Hawaii</string>
			<string>Mountain Region (CO, UT)</string>
			<string>Northwest</string>
			<string>Mid - Atlantic</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<real>99</real>
			<real>1</real>
			<real>2</real>
			<real>3</real>
			<real>6</real>
			<real>4</real>
			<real>7</real>
			<real>9</real>
			<real>5</real>
			<real>8</real>
			<real>10</real>
			<real>11</real>
			<real>12</real>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>listBreakdowns</string>
		<key>Title</key>
		<string>Breakdowns</string>
		<key>Titles</key>
		<array>
			<string>All Breakdowns</string>
			<string>Union Breakdowns</string>
			<string>Non-Union Breakdowns</string>
			<string>Breakdowns Fit For Me</string>
			<string>Union Breakdowns Fit For Me</string>
			<string>Non-Union Breakdowns Fit For Me</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>all breakdowns</string>
			<string>union breakdowns</string>
			<string>nonunion breakdowns</string>
			<string>breakdowns fit for me</string>
			<string>union breakdowns fit for me</string>
			<string>nonunion breakdowns fit for me</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>bShowKidsOnlyProjects</string>
		<key>Title</key>
		<string>Show Kids Only Projects</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>bShowProjectswithPayingRolesOnly</string>
		<key>Title</key>
		<string>Show Projects with Paying Roles Only</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>bExcludeRealityTVBreakdowns</string>
		<key>Title</key>
		<string>Exclude Reality TV Breakdowns</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
